#header{
    background-color: turquoise;
    text-align: center;
}
.container{
    background-image: url("https://images.pexels.com/photos/1415734/pexels-photo-1415734.jpeg?cs=srgb&dl=white-red-and-yellow-citrus-fruits-1415734.jpg&fm=jpg");
}
body{
    background-color: wheat;
    font-family: 'Merianda';
}